<div class="container-fluid">
  <h1 style="display:inline;margin-right:50px">Jornales</h1>

  <button class="btn btn-primary" data-toggle="modal" data-target="#dialogoTemporadas">
    Temporadas
  </button>

  <form class="form-inline" role="form" style="margin:10px">
    <div class="form-group">
      <select class="form-control" ng-model="temporada">
        <option ng-repeat="temp in temporadas" value="{{temp}}">{{temp.nombre+" "+temp.inicio+"-"+temp.fin}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="idCliente" ng-change="getFincas(idCliente)">
        <option ng-repeat="cl in clientes" value="{{cl._id}}">{{cl.nombre+" "+cl.apellidos}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="idFinca">
        <option ng-repeat="finca in fincas" value="{{finca._id}}">{{finca.nombre}}</option>
      </select>
    </div>

    <div class="input-group" style="width:150px">
      <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechaInicio" is-open="datepicker1.status.opened" max-date="fechaFin" close-text="Cerrar" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker1.status.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    <div class="input-group" style="width:150px">
      <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechaFin" is-open="datepicker2.status.opened" min-date="fechaInicio" close-text="Cerrar" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker2.status.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    <button class="btn btn-primary" data-toggle="modal" ng-click="getJornales()">
      Buscar
    </button>
  </form>
  <!--button style="display:inline;top:-7px;position:relative" class="btn btn-primary" ng-click="seleccionarCliente()" data-toggle="modal" data-target="#dialogoCliente">
    Nuevo cliente
  </button-->
  <div class="table-responsive">
    {{jornales}}
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Empleado</th>
            <th ng-repeat="fecha in fechas">
              {{fecha}}<button ng-hide="ordenes[fecha]==='editar'" ng-click="ordenes[fecha]='editar'">E</button>
              <button ng-show="ordenes[fecha]==='editar'" ng-click="ordenes[fecha]='cancelar'; ordenes[fecha]='_'">C</button>
              <button ng-show="ordenes[fecha]==='editar'" ng-click="ordenes[fecha]='guardar'">G</button>
            </th>
          </tr>
        </thead>
          <tbody>
              <tr ng-repeat="emp in empleados">
                  <td>{{ emp.nombre}} {{ emp.apellidos}}</td>
                  <td ng-repeat="fecha in fechas">
                    <ag-jornal ag-jornales="jornales[fecha]" ag-orden="ordenes[fecha]" ag-trabajador="emp._id" ag-temporada="temporada" ag-finca="idFinca" ag-cliente="idCliente"></ag-jornal>
                  </td>

              </tr>
          </tbody>
    </table>
  </div>
</div>

<div id="dialogoTemporadas" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Temporadas</h4>
      </div>
      <div class="modal-body">
        <!--############################### FORMULARIO CLIENTE ###################################### -->
        <ag-tabla-datos ag-col="infoTablaTemporadas" ng-model="temporadas" ag-constructor="Temporada" ag-on-save="guardarTemporada"></ag-tabla-datos>
        <!--############################### FIN FORMULARIO ###################################### -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
